<div class="container-fluid justify-content-center align-items-center my-2">
  <div class="w-100">
    <h1 class="title">list customer</h1>
    <a routerLink="add" class="m-3">
      <button class="btn btn-outline-success">
        <i class="far fa-plus-square"></i>
      </button>
    </a>
  </div>
<!--  search-->
  <div class="row">
<!--    fulltext search-->
    <div class="col-4">
      <p>Full Text Search</p>
      <span>Search : </span>
      <input type="text" [(ngModel)]="fullSearch" class="form-control">
      <button class="btn btn-primary" (click)="fullSearchMethod()">Search</button>
    </div>

<!--    select search-->
    <div class="col-4">
      <p>Select Search</p>
      <span>Name : </span>
      <input type="text" class="form-control" [(ngModel)]="nameSelect">
      <span>Type : </span>
      <select [(ngModel)]="selectSearch" class="form-control">
        <option value="" selected disabled>Select a Type</option>
        <option value="">All</option>
        <option *ngFor="let type of listType" value="{{type['rank']}}">
          {{type['rank']}}
        </option>
      </select>
      <button class="btn btn-primary" (click)="selectSearchMethod()">Search</button>
    </div>

<!--    like search from 2 fields-->
    <div class="col-4">
      <p>Search like</p>
      <span>Name : </span><input type="text" class="form-control" [(ngModel)]="nameSearch">
      <span>ID Card : </span><input type="text" class="form-control" [(ngModel)]="idCardSearch">
      <button class="btn btn-primary" (click)="searchByNameAndIdCard()">Search</button>
    </div>

  </div>
  <div>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>No</th>
        <th>Code</th>
        <th>Name</th>
        <th>Type</th>
        <th>Birthday</th>
        <th>Id Card</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Options</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of listCustomer; let i = index">
        <td>{{i + 1}}</td>
        <th>{{customer.code}}</th>
        <td>{{customer.name}}</td>
        <td>{{customer.type['rank']}}</td>
        <td>{{customer.birthday | date:'dd-MM-yyyy'}}</td>
        <td>{{customer.idCard}}</td>
        <td>{{customer.phone}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.address}}</td>
        <td>
          <a [routerLink]="['view', customer['id']]">
            <button class="btn btn-outline-primary">
              <i class="far fa-eye"></i>
            </button>
          </a>
          <a [routerLink]="['edit', customer['id']]">
            <button class="btn btn-outline-warning">
              <i class="fas fa-edit"></i>
            </button>
          </a>
          <a [routerLink]="['delete', customer['id']]">
            <button class="btn btn-outline-danger">
              <i class="fas fa-trash-alt"></i>
            </button>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
