<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head_fragment}"></head>
<body>
<div class="bg-image container-fluid justify-content-center align-items-center" style="color: white">
    <div class="row align-items-center" style="height: 633px">
        <div class="col-lg-4 col-md-3 col-sm-2 col-xs-1"></div>
        <div class="col-lg-4 col-md-6 col-sm-8 col-xs-10">
            <form th:action="@{/j_spring_security_check}" method="post"
                  class="form-container p-3 align-items-center" style="height: 460px">
                <div class="form-group mt-2">
                    <label for="inputEmail"><strong>Username</strong></label>
                    <input type="text" class="form-control" name="username"
                           id="inputEmail" placeholder="Username" required>
                </div>
                <div class="form-group mt-2">
                    <label for="inputPassword">
                        <strong>Password</strong>
                    </label>
                    <input type="password" class="form-control" name="password"
                           id="inputPassword" placeholder="Password" required>
                </div>
                <input type="hidden" name="enabled" th:value="1">
                <div class="row mt-5 mb-2">
                    <div class="col-7 check-box">
                        <label>
                            <input type="checkbox" name="remember-me"> Remember me
                        </label>
                    </div>
                    <div class="col-5 float-right">
                        <label>
                            <a th:href="@{/}" class="text-light"> Back Home </a>
                        </label>
                    </div>
                </div>
                <button name="submit" type="submit" class="btn btn-success btn-block mb-5">Submit</button>

                <div class="mt-5 text-center">
                    <label>Login Via</label>
                </div>
                <!--                via-->
                <div class="form-group row" style="color: white">
                    <button class="col-3 btn bg-transparent text-light" title="Via Facebook">
                        <i class="fab fa-2x fa-facebook"></i>
                    </button>
                    <button class="col-3 btn bg-transparent text-light" title="Via Instagram">
                        <i class="fab fa-2x fa-instagram"></i>
                    </button>
                    <button class="col-3 btn bg-transparent text-light" title="Via Google +">
                        <i class="fab fa-2x fa-google-plus-g"></i>
                    </button>
                    <button class="col-3 btn bg-transparent text-light" title="Via Twitter">
                        <i class="fab fa-2x fa-twitter"></i>
                    </button>
                </div>
            </form>

<!--            <div th:if="${#request.getParameter('error') == 'true'}"-->
<!--                 style="color:red;margin:10px 0;">-->
<!--                Login Failed!!!<br/>-->
<!--                Reason :-->
<!--                <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"-->
<!--                      th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">-->
<!--                Static summary-->
<!--                </span>-->

<!--            </div>-->
        </div>
        <div class="col-lg-4 col-md-3 col-sm-2 col-xs-1"></div>
    </div>
</div>
</body>
</html>