<div *ngIf="detailWord" class="container">
  <table class="table table-hover">
    <tbody>
    <tr>
      <td>ID</td>
      <td>{{detailWord.id}}</td>
    </tr>
    <tr>
      <td>Keyword</td>
      <td>{{detailWord.keyword}}</td>
    </tr>
    <tr>
      <td>Means</td>
      <td>{{detailWord.means}}</td>
    </tr>
    <tr>
      <td>Usages</td>
      <td>{{detailWord.usages}}</td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button class="btn btn-outline-success" (click)="backToList()">Back</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
