<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout :: head}"></head>
<body>
<div th:insert="~{layout :: main-header}"></div>

<div class="container justify-content-center">
    <a class="text-decoration-none" th:href="@{/product}">
        <button class="btn btn-info m-3">
            Buy More
        </button>
    </a>

    <div class="table-responsive h5">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" class="border-0 bg-light">
                    <div class="p-2 px-3 text-uppercase">Product</div>
                </th>
                <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Price</div>
                </th>
                <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Quantity</div>
                </th>
                <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Remove</div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${listFromCart}" class="dropdown-divider">
                <th scope="row" class="border-0">
                    <div class="p-2">
                        <img id="img_in_cart" src="https://vn-test-11.slatic.net/p/e188780343707fd740da78ded387330c.jpg"
                             alt="" class="img-fluid rounded shadow-sm">
                        <div class="ml-3 d-inline-block align-middle">
                            <h5 class="mb-0">
                                <a th:href="@{/product/view(id=${product.id})}" style="text-decoration: none"
                                   class="h4 text-dark d-inline-block align-middle">
                                    <strong th:text="${product.name}"></strong>
                                </a>
                            </h5>
                            <span class="h6 text-muted font-weight-normal font-italic d-block"
                                    >
                                <span th:text="${product.description}"></span>
                            </span>
                        </div>
                    </div>
                </th>
                <td class="border-0 align-middle"><strong th:text="${product.price}"></strong></td>
                <td class="border-0 text-center align-middle">
                    <strong th:text="${cart.getAmount(product)}"></strong>
                </td>
                <td class="border-0 align-middle">
                    <a href="#">
                        <button class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="/layout :: script"></div>
<div th:insert="~{layout :: footer}"></div>

</body>
</html>