<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
          crossorigin="anonymous">
</head>
<body>

<div class="container justify-content-center text-center">
    <h1 style="color: teal">INPUT BOOK CODE</h1>
    <form th:action="@{/book/giveback}" method="post" style="margin-top: 50px"
          class="input-group justify-content-center text-center">
        <table class="table col-6">
            <thead>
                <tr>
                    <td>
                        <input type="number" name="inputCode" id="inputCode" th:value="${inputCode}"
                               class="form-control">
                    </td>
                    <td>
                        <button type="submit" title="Code" class="btn btn-success">
                            Check Code
                        </button>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p style="color: red; font-style: italic" th:if="${message}" th:text="${message}"></p>
                    </td>
                    <td colspan="2" th:if="${message == null}"></td>
                </tr>
                <tr>
                    <td>
                        <a th:href="@{/book}">
                            <button class="btn btn-info" type="button">Back</button>
                        </a>
                        <button class="btn btn-light" type="reset" >Reset</button>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

<div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>
</body>
</html>