<tr xmlns:th="http://www.thymeleaf.org" th:each="blog : ${listBlog}">
    <td th:text="${blog.id}"></td>
    <td th:text="${blog.title}"></td>
    <td th:text="${blog.category.name}"></td>
    <td th:text="${blog.postDay}"></td>
    <td th:text="${blog.image}"></td>
    <td th:text="${blog.author}"></td>
    <td>
        <button type="button" class="btnViewModal btn btn-info" th:value="${blog.id}">
            <i class="fas fa-eye"></i>
        </button>
        <button class="btnEditModal btn btn-warning" type="button" th:value="${blog.id}">
            <i class="fas fa-edit"></i>
        </button>
        <button class="btnDeleteModal btn btn-danger" type="button" th:value="${blog.id}">
            <i class="fas fa-trash-alt"></i>
        </button>
    </td>
</tr>
