<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout :: head}"></head>
<body>

<div class="container">
    <form th:action="@{/admin/delete}" method="post">
        <h1 style="color: red" class="text-center">ARE YOU SURE?</h1>
        <input type="hidden" th:field="${blog.id}">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th th:text="${blog.id}"></th>
            </tr>
            <tr>
                <td>Title</td>
                <td th:text="${blog.title}"></td>
            </tr>
            <tr>
                <td>Category</td>
                <td th:text="${blog.category.name}"></td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-info" type="button" data-dismiss="modal">Back</button>
                </td>
                <td>
                    <button class="btn btn-danger" type="submit">Delete</button>
                </td>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </form>
</div>

</body>
</html>