<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout :: head}"></head>
<body>
<div th:insert="~{layout :: header}"></div>

<div class="container">
    <form th:action="@{/delete}" method="post" th:object="${customer}">
        <table></table>
        <h1 style="color:teal;" th:text="${confirm}"></h1>
        <div style="margin-top: 20px">
            <a href="/">
                <button class="btn btn-info" type="button">Cancel</button>
            </a>
            <button type="submit" class="btn btn-danger">Delete</button>
        </div>
    </form>

</div>

<div th:insert="~{layout :: footer}"></div>
</body>
</html>