<div class="wrapper">
  <div class="col-4"></div>
  <div class="container justify-content-center align-items-center">
    <h2 class="title" [style.color]="colorCode">{{title}}</h2>
    <table class="table justify-content-center align-items-center text-center">
      <tbody>
      <tr>
        <th style="color: red">
          <label for="red">RED</label>
        </th>
        <td>
          <input type="range" min="0" max="255" value="56" id="red"
                 #red (change) ="getColor(red.value,green.value,blue.value)"
                 class="form-control rounded-pill">
        </td>
        <td class="number" style="color: red">{{red.value}}</td>
      </tr>
      <tr>
        <th style="color: green">
          <label for="green">GREEN</label>
        </th>
        <td>
          <input type="range" min="0" max="255" value="124" id="green"
                 #green (change) ="getColor(red.value,green.value,blue.value)"
                 class="form-control rounded-pill">
        </td>
        <td class="number" style="color: green">{{green.value}}</td>
      </tr>
      <tr>
        <th style="color: blue">
          <label for="blue">BLUE</label>
        </th>
        <td>
          <input type="range" min="0" max="255" value="115" id="blue"
                 #blue (change) ="getColor(red.value,green.value,blue.value)"
                 class="form-control rounded-pill">
        </td>
        <td class="number" style="color: blue">{{blue.value}}</td>
      </tr>
      </tbody>
    </table>
    <div>
      <button class="circle" [style.background]="colorCode"></button>
      <p class="code" [style.color]="colorCode">{{colorCode}}</p>
    </div>
  </div>
  <div class="col-4"></div>
</div>
