.wrapper {
  font-family: "Helvetica Neue", sans-serif;
  background-color: bisque;
  text-align: center;
}
.wrapper .title {
  color: teal;
  font-size: 80px;
}
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-style: none;
  box-shadow: 8px 8px 3px 0 rgba(0, 0, 0, 0.4);
  background-color: #387c73;
}
.circle p {
  font-size: 80px;
  font-weight: bold;
}
.code {
  font-family: "Courier New", sans-serif;
  font-size: 42px;
}
.number {
  font-family: "Courier New", sans-serif;
  font-weight: bold;
  font-size: 22px;
}
