<div class="justify-content-center align-items-center">
  <h1 class="text-success">Add New Article</h1>
  <table class="table table-hover" style="text-align: left">
    <tbody>
    <tr>
      <td>
        <label for="id">ID</label>
      </td>
      <td>
        <input type="number" id="id" #id class="form-control">
      </td>
    </tr>
    <tr>
      <td>
        <label for="title">Title</label>
      </td>
      <td>
        <input type="text" id="title" #title class="form-control">
      </td>
    </tr>
    <tr>
      <td>
        <label for="postTime">Post Time</label>
      </td>
      <td>
        <input type="date" id="postTime" #postTime class="form-control">
      </td>
    </tr>
    <tr>
      <td>
        <label for="content">Content</label>
      </td>
      <td>
        <input type="text" id="content" #content class="form-control">
      </td>
    </tr>
    <tr>
      <td colspan="2" class="text-center">
        <button class="btn btn-success" type="button"
                (click)="addArticle(id.value, title.value, postTime.value, content.value)">
          Create
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
