<footer class="footer">
  <div class="container-fluid text-center mt-5 w-100"
       style="background-color:#addccf; border-top: 5px solid #addccf">
    <div class="row">

      <!--      left-footer-->
      <div class="col-lg-4 col-md-12 col-sm-12 mb-4 left-footer">
        <h2 class="mt-2 pt-5 yellow-PlayFair">
          How to Get to Us
        </h2>
        <hr class="mb-2 mt-0 d-inline-block mx-auto" style="width: 100%; height: 2px; background-color: teal">
        <p class="text-about">
          Furama is a premier base for exploring one of
          Asia’s most exciting new destinations. Just a
          short drive from Danang lay four UNESCO-listed
          World Heritage Sites:
        </p>
        <button class="btn btn-block btnMap">
          <i class="fas fa-map-marker-alt"></i>
          <span>&nbsp;&nbsp;View on Map ></span>
        </button>
        <h4 class="mt-4 yellow-PlayFair"
            style="font-size: 20px">
          Local Places
        </h4>
        <ul class="list-unstyled text-about mt-4">
          <li>1. The former imperial city of HUE
            <span class="distance-hour">2 hours</span>
          </li>
          <hr>
          <li>2. The ancient Hoi An
            <span class="distance-hour">30 minutes</span>
          </li>
          <hr>
          <li>3. Champa civilization, My Son
            <span class="distance-hour">90 minutes</span>
          </li>
          <hr>
          <li>4. Phong Nha Caves
            <span class="distance-hour" style="margin-bottom: 50px">3 hours</span>
          </li>
        </ul>
      </div>

<!--      mid + right-->
      <div class="row col-lg-7 col-md-0 col-sm-0 mb-4 mid-right" >

        <!--      mid-footer-->
        <div class="col-lg-5 col-md-5 col-sm-5 mx-2 mb-4 mid-footer">
          <ul>
            <li class="my-2"><a href="#">News</a></li>
            <li class="my-2"><a href="#">Rack Rate</a></li>
            <li class="my-2"><a href="#">Lifestyle Blog</a></li>
            <li class="my-2"><a href="#">Work with us</a></li>
            <li class="my-2"><a href="#">Contact us</a></li>
          </ul>
        </div>

        <!--      right-footer-->
        <div class="col-lg-5 col-md-5 col-sm-5 mx-2 right-footer">
          <p class="mt-5 yellow-PlayFair"
             style="font-size: 19px">Contact US
          </p>
          <div class="row">
            <div class="col-1">
              <i class="fas fa-2x fa-map-marker-alt" style="color: #0f574b"></i>
            </div>
            <div class="col-10 rf-content">
              <p>103 - 105 Vo Nguyen Giap Street, Khue My Ward, Ngu Hanh Son District, Danang City, Vietnam</p>
              <p>Tel.: 84-236-3847 333/888 * Fax: 84-236-3847 666</p>
              <div>
                <p class="email">Email:
                  <a href="#"> reservation@furamavietnam.com</a>
                  *
                  <a href="#"> www.furamavietnam.com</a>
                </p>
              </div>
              <div>
                <img src="../../../assets/style/img/banner.png" alt="footer-banner"
                     style="width: 333px; height: 80px">
              </div>
              <p style="margin-top: 10px">GDS-Codes: Amadeus-WWDADFUR, Apollo/Galileo-WW16236, SabreWW32771, Worldspan-WWDADFU</p>
            </div>
          </div>
        </div>

        <div style="margin-top: 5px" id="copyright">
          <img src="../../../assets/style/img/banner-app.png" alt="footer-banner-app">
          <p>&copy; 2021 Furama Resort Danang - Soren.</p>
        </div>
      </div>

    </div>
  </div>
  <div class="footer-copyright text-center">
    <p>
      COVID 19 UPDATE: The safety and well-being are our utmost priority
      <button class="btn btnLearnMore">Learn more</button>
    </p>
  </div>
</footer>
