<div class="container justify-content-center align-items-center">

  <!--table-->
  <div class="justify-content-center align-items-center frame-shadow" style="padding-left: 20px"
       *ngIf="listProduct.length != 0; else elseDiv">
    <button routerLink="add" class="btn btn-success">
      <i class="far fa-plus-square"></i>
    </button>
    <h1 style="color: teal" class="text-uppercase text-center">list product</h1>

    <table class="table table-hover">
      <thead>
      <tr>
        <th>No</th>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Date</th>
        <th>Status</th>
        <th>Origin</th>
        <th>Options</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of listProduct, let i = index">
        <td>{{i + 1}}</td>
        <td>{{product._id}}</td>
        <td>{{product._name | titlecase}}</td>
        <td>{{product._price | currency: 'VND' }}</td>
        <td>{{product._date | date:'dd/MM/yyyy'}}</td>
        <td>
          <span *ngIf="product._quantity == 0" [ngClass]="'sold-out'">Sold out</span>
          <span *ngIf="product._quantity > 0 && product._quantity < 10" [ngClass]="'few-left'">Few left</span>
          <span *ngIf="product._quantity >= 10" [ngClass]="'full-stock'">Full of stock</span>
        </td>
        <td>{{product._origin}}</td>
        <td>
          <a [routerLink]="['view', product._id]">
            <button class="btn btn-primary" style="margin-right: 15px">
              <i class="far fa-eye"></i>
            </button>
          </a>
          <a [routerLink]="['edit', product._id]">
            <button class="btn btn-warning" >
              <i class="fas fa-edit text-dark"></i>
            </button>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!--elseDiv-->
  <ng-template #elseDiv>
    <h3 class="text-center" style="color: red">No Product. Add some more!</h3>
    <button routerLink="add" class="btn btn-success">
      <i class="far fa-plus-square"></i>
    </button>
  </ng-template>
</div>

