/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.frame-shadow {
  font-family: 'Open Sans', sans-serif;
  padding-top: 10px;
  background-color: #D0E5F2;
  box-shadow: 8px 8px 4px 0 rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
}
.frame-shadow h1 {
  text-align: center;
}
.frame-shadow:hover {
  box-shadow: 4px 4px 2px 0 rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
}
.msgError {
  color: red;
  font-style: italic;
  font-size: 15px;
}
#myName {
  font-family: 'Satisfy', cursive;
  margin-right: 15px;
  font-size: 36px;
  color: palevioletred;
  float: right;
}
.btnBack {
  background-color: #3D3BFF;
  color: whitesmoke;
}
.btnBack:hover {
  background-color: #0F4570;
  color: white;
}
