<div class="container-sm text-center justify-content-center align-items-center col-5">
  <div class="top-page">
    <p>SURF <br>CAMP</p>
    <p id="adventure">Plan the adventure <br> of a life time.</p>
  </div>

  <div class="mid-page">
    <p>Have you always wanted to learn how to surf, but were afraid to try?</p>
    <p>No worries. Our team of professional surf instructors will take good care of you and your friends.</p>
  </div>
  <div class="bot-page">
    <p id="offer">Here's what we offer:</p>
    <ul class="text-center mx-3">
      <li>
        <div style="display: flex">
          <span class="icon">
            <i class="fas fa-sun"></i>
          </span>
          <p class="offer-content">
            3-day or 7-day individual surf course,<br>
            including equipment and beach <br>
            house accommodations
          </p>
        </div>
      </li>
      <li>
        <div style="display: flex">
          <span class="icon">
            <i class="fas fa-volleyball-ball"></i>
          </span>
          <p class="offer-content">
            One-week surfari for intermediate <br>
            play ball
          </p>
        </div>
      </li>
      <li>
        <div style="display: flex">
          <span class="icon">
            <i class="fas fa-water"></i>
          </span>
          <p class="offer-content">
            Enjoy biggest wave and maybe <br>
            die in that shit!
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
