<div class="container-fluid m-0 p-0">
  <!--    header-->
  <div class="header row align-items-center sticky-top">
    <div class="logo col-3">
      <span class="green">
        <i class="fas fa-leaf" style="padding-left: 15px"></i>
        <span id="envato">envato</span>market</span>
    </div>
    <div class="col-7"></div>
    <div class="buy-now col-2">
      <button class="btn float-right">
        Buy now
      </button>
    </div>
  </div>
  <!--    top navbar-->
  <div class="top-navbar">
    <div class="container">
      <div class="row align-items-center">
        <!--        6 icon -->
        <div class="col-3">
          <div class="row text-light">
            <button class="twitch btn-circle">
              <i class="fab fa-twitch"></i>
            </button>
            <button class="youtube btn-circle">
              <i class="fab fa-youtube"></i>
            </button>
            <button class="steam btn-circle">
              <i class="fab fa-steam-symbol"></i>
            </button>
            <button class="facebook btn-circle">
              <i class="fab fa-facebook-f"></i>
            </button>
            <button class="twitter btn-circle">
              <i class="fab fa-twitter"></i>
            </button>
            <button class="linkedin btn-circle">
              <i class="fab fa-linkedin-in"></i>
            </button>
          </div>
        </div>

        <div class="col-6"></div>

        <!--      search + log out + cart-->
        <div class="col-3 row float-right pl-3">
          <a href="#" class="btn-top">
            <i class="fas fa-search"></i>
          </a>
          <a href="#" class="btn-top">
            <i class="fas fa-sign-out-alt"></i>
          </a>
          <a href="#" class="btn-top">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--    navbar-->
  <div class="main-navbar m-0 p-0">
    <div class="container">
      <div class="row align-items-center pt-4 pb-3">
        <div class="col-3 main-logo row">
          <i class="fab fa-3x fa-phoenix-framework" style="color:#D42518"></i>
          <span><span style="color: #D42518">S</span>oren<span style="color: #D42518">F</span>orce</span>
        </div>
        <div class="col-1"></div>
        <div class="col-8 navigation">
          <nav role="navigation">
            <ul class="row float-right">
              <li class="dropdown">
                <label>Feature <span class="plus float-right">+</span>
                  <div class="dropdown-menu">
                    <ul>
                      <li>MENU 1</li>
                      <li>MENU 2</li>
                      <li>MENU 3</li>
                      <li>MENU 4</li>
                      <li>MENU 5</li>
                    </ul>
                  </div>
                </label>
              </li>
              <li class="dropdown">
                <label>Blog <span class="plus float-right">+</span>
                  <div class="dropdown-menu">
                    <ul>
                      <li>MENU 1</li>
                      <li>MENU 2</li>
                      <li>MENU 3</li>
                      <li>MENU 4</li>
                      <li>MENU 5</li>
                    </ul>
                  </div>
                </label>
              </li>
              <li class="dropdown">
                <label>Gallery</label>
              </li>
              <li class="dropdown">
                <label>
                  E sports <span class="plus float-right">+</span>
                  <div class="dropdown-menu">
                    <ul>
                      <li>MENU 1</li>
                      <li>MENU 2</li>
                      <li>MENU 3</li>
                      <li>MENU 4</li>
                      <li>MENU 5</li>
                    </ul>
                  </div>
                </label>
              </li>
              <li class="dropdown">
                <label>
                  Shop <span class="plus float-right">+</span>
                  <div class="dropdown-menu">
                    <ul>
                      <li>MENU 1</li>
                      <li>MENU 2</li>
                      <li>MENU 3</li>
                      <li>MENU 4</li>
                      <li>MENU 5</li>
                    </ul>
                  </div>
                </label>
              </li>
              <li class="dropdown">
                <label>
                  Buy now
                </label>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!--    slide show-->
  <div class="container">

    <div id="slideShow" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#slideShow" data-slide-to="0" class="active"></li>
        <li data-target="#slideShow" data-slide-to="1"></li>
        <li data-target="#slideShow" data-slide-to="2"></li>
        <li data-target="#slideShow" data-slide-to="3"></li>
        <li data-target="#slideShow" data-slide-to="4"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../assets/img/slide-1.jpg" alt="anh-1" style="width: 100%">
        </div>
        <div class="carousel-item">
          <img src="../assets/img/slide-2.jpg" alt="anh-2" style="width: 100%">
        </div>
        <div class="carousel-item">
          <img src="../assets/img/slide-3.jpg" alt="anh-3" style="width: 100%">
        </div>
        <div class="carousel-item">
          <img src="../assets/img/slide-4.jpg" alt="anh-4" style="width: 100%">
        </div>
        <div class="carousel-item">
          <img src="../assets/img/slide-5.jpg" alt="anh-5" style="width: 100%">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#slideShow" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#slideShow" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
    <!--    pc + ps4 + xbox-->
    <div class="align-items-center row text-center mx-0">
      <div class="col-4">
        <div class="pc float-right">
          <div class="col-5">
            PC
          </div>
          <div class="col-7">
            VIEW GAMES
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="pc float-right">
          <div class="col-5">
            PS4
          </div>
          <div class="col-7">
            VIEW GAMES
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="pc float-right">
          <div class="col-5">
            XBOX
          </div>
          <div class="col-7">
            VIEW GAMES
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--    hr-->
  <div class="container">
    <div class="row my-3">
      <div class="col-1">
        <hr>
      </div>
      <div class="latest-news col-2">
        <p><span style="color: #D42518">LATEST</span> NEWS</p>
      </div>
      <div class="col-9">
        <hr>
      </div>
    </div>
  </div>
  <!--    news-->
  <div class="container">
    <div class="row">
      <!--      article-->
      <div class="col-6 left-news">
        <ul>
          <li class="row">
            <div class="thumbnail">
              <img src="../assets/img/article-1.jpg" alt="">
            </div>
            <div style="margin-left: 20px">
              <p class="p-title">Lesser years third in you're rule</p>
              <p class="p-detail">Our them creepeth living saw they’re. Until ...</p>
              <p class="post-date my-3">
                <i class="far fa-calendar-alt"></i>
                <span> September 12, 2019</span>
              </p>
            </div>
          </li>
          <li class="row">
            <div class="thumbnail">
              <img src="../assets/img/article-2.jpg" alt="">
            </div>
            <div style="margin-left: 20px">
              <p class="p-title">We found a witch! may we burn her?</p>
              <p class="p-detail">Days. Heaven. Fruit fly and to, set heaven. Bearing ...</p>
              <p class="post-date my-3">
                <i class="far fa-calendar-alt"></i>
                <span> September 12, 2019</span>
              </p>
            </div>
          </li>
          <li class="row">
            <div class="thumbnail">
              <img src="../assets/img/article-3.jpg" alt="">
            </div>
            <div style="margin-left: 20px">
              <p class="p-title">Creepeth you're a behold heaven</p>
              <p class="p-detail">Abundantly brought blessed subdue in beginning ...</p>
              <p class="post-date my-3">
                <i class="far fa-calendar-alt"></i>
                <span> September 12, 2019</span>
              </p>
            </div>
          </li>
          <li class="row">
            <div class="thumbnail">
              <img src="../assets/img/article-4.jpg" alt="">
            </div>
            <div style="margin-left: 20px">
              <p class="p-title">DOESN’T BRING MOVETH YOU’RE WAS</p>
              <p class="p-detail">All. Us kind don’t. Won’t them firmament night fly ...</p>
              <p class="post-date my-3">
                <i class="far fa-calendar-alt"></i>
                <span> September 12, 2019</span>
              </p>
            </div>
          </li>
        </ul>
      </div>
      <!--      content article-->
      <div class="col-6 right-news"></div>
    </div>
  </div>

</div>
