<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout :: head}"></head>
<body>
<div th:insert="~{layout :: header}"></div>

<div class="container">
    <h1 class="text-center my-3" style="color: teal">List Customer</h1>
    //can them duong dan create
    <a th:href="/"><button class="btn btn-success"><i class="fas fa-plus-square"></i></button></a>
    <table class="">

    </table>
</div>

<div th:insert="~{layout :: footer}"></div>
</body>
</html>